# ===== Logs =====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== Dependencies =====
node_modules/

# ===== Build/SSR =====
dist-ssr/
*.local

# ===== Editor (VS Code specific) =====
.vscode/*
!.vscode/extensions.json

# ===== Windows/Visual Studio =====
*.suo
*.ntvs*
*.njsproj
*.sln

# ===== Test reports =====
playwright-report/
test-results/

# ===== Vitest coverage output =====
html/

# ===== Cache =====
.vite/

# ===== Package =====
*.tgz
